In [19]:
import pandas as pd

# Create a Series
marks = pd.Series([78, 85, 90, 66, 88])

print("Student Marks:")
print(marks)

# Basic operations
print("\nAverage Marks:", marks.mean())
print("Maximum Marks:", marks.max())
print("Minimum Marks:", marks.min())

Student Marks:
0    78
1    85
2    90
3    66
4    88
dtype: int64

Average Marks: 81.4
Maximum Marks: 90
Minimum Marks: 66

In [21]:
import pandas as pd
x = [3,4,5,6,7,8]
var = pd.Series(x)
var

0    3
1    4
2    5
3    6
4    7
5    8
dtype: int64

In [25]:
import pandas as pd
x = {"a":[3,4,5,6,7,8], "b":[1,2,3,4,5,6]}
var = pd.DataFrame(x)
var

   a  b
0  3  1
1  4  2
2  5  3
3  6  4
4  7  5
5  8  6

In [5]:
import pandas as pd

# Create data
data = {
    "Name": ["Amit", "Neha", "Rahul"],
    "Age": [20, 21, 22],
    "City": ["Pune", "Mumbai", "Delhi"]
}

# Create DataFrame
df = pd.DataFrame(data)

# Display DataFrame
print(df)

    Name  Age    City
0   Amit   20    Pune
1   Neha   21  Mumbai
2  Rahul   22   Delhi

In [10]:
import pandas as pd 
csv_1 = pd.read_csv("C:\\Users\\Dell\\Downloads\\sales_data.csv")

csv_1

          Date     Product  Quantity  Price Customer_ID Region  Total_Sales
0   2024-01-01       Phone         7  37300     CUST001   East       261100
1   2024-01-02  Headphones         4  15406     CUST002  North        61624
2   2024-01-03       Phone         2  21746     CUST003   West        43492
3   2024-01-04  Headphones         1  30895     CUST004   East        30895
4   2024-01-05      Laptop         8  39835     CUST005  North       318680
..         ...         ...       ...    ...         ...    ...          ...
95  2024-04-05      Tablet         8  20770     CUST096  North       166160
96  2024-04-06  Headphones         1   7647     CUST097   West         7647
97  2024-04-07      Tablet         5  27196     CUST098   East       135980
98  2024-04-08     Monitor         1  30717     CUST099  North        30717
99  2024-04-09  Headphones         5  23376     CUST100  South       116880

[100 rows x 7 columns]

In [13]:
import pandas as pd

csv_1 = pd.read_csv("C:\\Users\\Dell\\Downloads\\sales_data.csv")

# Total sales
total_sales = csv_1['Total_Sales'].sum()

# Best-selling product
product_sales = csv_1.groupby('Product')['Total_Sales'].sum().reset_index()
best_product = product_sales.loc[product_sales['Total_Sales'].idxmax()]

total_sales, product_sales.head(), best_product

(np.int64(12365048),
       Product  Total_Sales
 0  Headphones      1384033
 1      Laptop      3889210
 2     Monitor      1348071
 3       Phone      2859394
 4      Tablet      2884340,
 Product         Laptop
 Total_Sales    3889210
 Name: 1, dtype: object)

In [14]:
total_sales = csv_1['Total_Sales'].sum()
print(total_sales)

12365048

In [15]:
product_sales = csv_1.groupby('Product')['Total_Sales'].sum()
best_product = product_sales.idxmax()

print(best_product)
print(product_sales[best_product])

Laptop
3889210